#dashboard {
  display: grid;
  grid-template-columns: 43% 28.5% 28.5%;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    'profile friends games'
    'events friends games';
}

.dashboard-item {
  background-color: white;
  border-radius: 15px;
  margin: 1vh;
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-areas:
    'banner'
    'body';
}

.dashboard-item-banner {
  grid-area: banner;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-item-banner * {
  font-size: 5vh;
  margin: 0;
}

.dashboard-item-list {
  grid-area: body;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.dashboard-list-item {
  width: 90%;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 1vh;
}

.dashboard-list-item img {
  height: 10vh;
  margin-left: 1vw
}

.dashboard-list-item div {
  padding: 1vh 1vw
}

.dashboard-list-item h2 {
  font-size: 3vh;
}

.dashboard-list-item p {
  font-size: 2vh;
}

.dashboard-list-item p svg {
  margin-right: 0.5vw
}

.event-list-item {
  width: 90%;
  border: 1px solid black;
  margin-bottom: 1vh;
}

.event-list-item h3 {
  margin: 1vh;
  font-size: 2.5vh
}

.event-list-item p {
  margin: 1vh;
  font-size: 2vh
}

.dashboard-item-search {
  grid-area: body;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.dashboard-search-results {
  width: 100%;
  margin: 1vh 1vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
}

.dashboard-search-item {
  width: 90%;
  border: 1px solid black;
  margin-bottom: 1vh;
  padding: 1vh 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#friend-display .dashboard-search-item img {
  height: 8vh
}

#game-display .dashboard-search-item img {
  width: 6vw
}

#game-display .dashboard-search-item p {
  font-size: 2vh;
  margin: 1vw
}

#new-event {
  background-color: red
}
