#event-display {
  grid-area: events;
  overflow: hidden
}

#new-event {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-event input {
  height: 4vh
}

.react-datepicker__input-container input {
  text-align: center;
  border-radius: 5px
}

#invitations {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-evenly
}

.invitation-display {
  height: 100%;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.invitation-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.invitation-list-banner {
  border-bottom: 1px solid black;
  padding: 1vh 1vw
}

.invitee-item {
  margin: 0.2vh 0;
  border: 1px solid black;
  padding: 0.2vh 0.2vw;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
}

.invitee-item img {
  width: 5vh;
}

.invitee-item :nth-child(2) {
  flex-grow: 1;
  text-align: center;
}

#guests {
  display: flex
}

#guests ul {
  list-style-type: none;
  padding: 0 1vw;
  margin: 0;
}


#game-picker-header h3 {
  margin-top: 3vh;
  /* font-size: 4vh */
}

#game-picker-header p {
  font-style: italic;
}

#game-picker-container {
  height: 50vh;
  width: 40vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#game-picker-list {
  margin: 1vh 1vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.game-picker-item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 1vh;
  font-size: 1.5vh
}

.game-picker-item img {
  width: 5vw;
  margin: 1vh 2vw;
}

.game-picker-item h2 {
  font-size: 2vh
}

.game-picker-item div {
  margin: 1vh
}

.selected-game {
  border: 5px solid black
}

.content > * {
  margin-top: 1vh;
  font-size: 2vh
}
