#login-signup-buttons {
  height: 5vh;
  display: grid;
  grid-template-columns: 25% 25% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'login signup .'
}

.login-signup-button {
  background-color: grey;
  border-radius: 10px 40px 0 0;
  outline: none
}

.login-signup-button div {
  padding-top: 5%;
  padding-left: 15%
}
