#login-signup-container {
  height: 50vh;
  width: 30vw;
  position: fixed;
  left: 50%;
  margin-left: -15vw;
  top: 50%;
  margin-top: -25vh;
}

#login-form {
  background-color: white;
  height: 100%;
  border-radius: 0 10px 10px;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-form label {
  font-size: 2.5vh
}
