#new-event {
  font-size: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh auto;
  grid-template-areas:
    'title button'
    'area1 area2'
}

#new-event label {
  color: white;
  font-size: 4vh
}

#new-event-title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#new-event-title h1 {
  color: white;
  font-size: 6vh
}

#area1 {
  grid-area: area1;
  margin: 1vw 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#new-event input.react-datepicker-time__input {
  font-size: 0.8rem;
}

.react-datepicker__input-container input {
  text-align: center;
}

#invitations {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly
}

.invitation-display {
  height: 100%;
  width: 30%;
  border: 1px solid black;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.invitation-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.invitation-list-banner {
  border-bottom: 1px solid black;
  padding: 1vh 1vw
}

.invitee-item {
  margin: 0.2vh 0;
  border: 1px solid black;
  padding: 0.2vh 0.2vw;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
}

.invitee-item img {
  width: 4vw;
}

.invitee-item :nth-child(2) {
  flex-grow: 1;
  text-align: center;
}

#area2 {
  grid-area: area2;
  margin: 1vw 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

#game-picker-header {
  grid-area: header;
  color: white;
}

#game-picker-header h2 {
  margin-top: 3vh;
  font-size: 4vh
}

#game-picker-header p {
  font-style: italic;
}

#game-picker-container {
  height: 50vh;
  width: 40vw;
  margin-bottom: 4.5vh;
  border: 1px solid black;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#game-picker-list {
  margin: 1vh 1vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.game-picker-item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 1vh;
  font-size: 2vh
}

.game-picker-item img {
  width: 7vw;
  margin: 1vh 2vw;
}

.game-picker-item h2 {
  font-size: 3vh
}

.game-picker-item div {
  margin: 1vh
}

.selected-game {
  border: 5px solid black
}
