#new-event {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh auto;
  grid-template-areas:
    'title button'
    'area1 area2'
}

#new-event label {
  color: white
}

#new-event-title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#new-event-title h1 {
  color: white;
  font-size: 6vh
}

#area1 {
  font-size: 3vh;
  grid-area: area1;
  margin: 1vw 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#new-event input.react-datepicker-time__input {
  font-size: 0.8rem;
}

.react-datepicker__input-container input {
  text-align: center;
}

#invitations {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly
}

.invitation-display {
  height: 100%;
  width: 30%;
  border: 1px solid black;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.invitation-list {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.invitation-list-banner {
  border-bottom: 1px solid black;
  padding: 1vh 1vw
}

.invitee-item {
  margin: 0.2vh 0;
  border: 1px solid black;
  padding: 0.2vh 0.2vw;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
}

.invitee-item img {
  width: 4vw;
}

.invitee-item :nth-child(2) {
  flex-grow: 1;
  text-align: center;
}
