
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#header {
  background-color: #282c34;
  min-height: 10vh;
  color: white;
  padding: 0 2vw;
  display: flex;
  align-items: center
}

#header-title {
  font-size: 6vh;
  margin-left: 4vh
}
